body {
  padding-top: 50px;
}
@media (min-width: 550px) {
	.two-column.column {
		width:48%;
	}
	.column:first-child, .columns:first-child {
    	margin-left: 0;
	}
	.column, .columns {
    	margin-left: 4%;
	}
}

.column, .columns {
	width: 100%;
	float: left;
	box-sizing: border-box;
}

.navbar-form .form-control {
	width: 120px;
}

#login-dp{
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;
}
#login-dp .help-block{
    font-size:12px    
}
#login-dp .bottom{
    background-color:rgba(255,255,255,.8);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}
#login-dp .form-group {
    margin-bottom: 10px;
}
.navbar-color {
    color: #9d9d9d;
}
.dropdown-menu.navbar-inverse > li > a {
  color: #9d9d9d;
}
.dropdown-menu.navbar-inverse > li > a:hover,
.dropdown-menu.navbar-inverse > li > a:focus {
  color: #fff;
  background-color: transparent;
}
.dropdown-menu.navbar-inverse > .active > a,
.dropdown-menu.navbar-inverse > .active > a:hover,
.dropdown-menu.navbar-inverse > .active > a:focus {
  color: #fff;
  background-color: #080808;
}
.dropdown-menu.navbar-inverse > .disabled > a,
.dropdown-menu.navbar-inverse > .disabled > a:hover,
.dropdown-menu.navbar-inverse > .disabled > a:focus {
  color: #444;
  background-color: transparent;
}
ul#charlist > li > a:hover i {
display:block !important;
float:right !important;
}
ul#charlist > li > a > i {
display:none !important;
}
ul#charlist > li > a > i.glyphicon-trash {
padding-left:7%;
}
svg .over {
    fill: gray!important;
}